<!-- <div class="container"> -->
{{>header}}
<section class="hero marginAlign ">
	<section class="container">

		<div class="row">
			<div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
				<div class="row pp">
					<div class="col-md-1 col-lg-1 col-sm-1 col-xs-12">
					</div>
					<div class="col-md-11 col-lg-11 col-sm-11 col-xs-12" style="padding-left: 0px;">
						<!-- <h2 style="margin-left: -2px;">Meet the Doctors</h2> -->
						<!-- <span style="border-bottom: 5px solid #ff6c6f;line-height:70px;"></span> -->
						<!-- <div class="border_doc">&nbsp;</div> -->
						<!-- <p>Choose the right doctor for your treatment</p>
						<p>Consult a specialist for a second opinion</p> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-1 col-lg-1 col-sm-1 col-xs-12">
					</div>

					<div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 block">
						<form role="form row" method="post">
							<input type="hidden" name="action" value="testSearch">
							<div class="form-group">
								<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 " style="padding-top: 2px;">
									<label id="proc" style="color:white">Area of Expertise:</label>
								</div>
								<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 " style="margin-bottom: 10px; margin-left:0px">

									<input type="text" name="procedure" class="form-control" id="procedure" placeholder="Procedure" style="margin-left: -8px;">
									<input type="hidden" id="procedureId" name="procedureId" value="">
								</div>
								<div class="col-md-3 col-lg-3 col-sm-3 col-xs-10  main_button">
									<button type="submit" class="btn btn-primary btn-md rais">
										<span class="search_doc">Search Doctors</span>
									</button>
								</div>
							</div>
						</form>
					</div>

					<div class="col-md-1 col-lg-1 col-sm-1 col-xs-0"></div>
				</div>
			</div>

			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
		</div>
	</section>
</section>

<!-- <div class="doc_main">
	<img src="../images/Meet the Doctors.jpg" style="width:100%;height:auto;">
	<section class="container">
		<div class="row pp">
			<h2>
				Meet The Doctors</h2>
				 <span style="border-bottom: 5px solid #ff6c6f;line-height:70px;"></span>
				 <div class="border_doc">&nbsp;</div>
			<p>Choose the right doctor for your treatment</p>
			<p>Consult a specialist for a second opinion</p>
		</div>
		<div class="row">
			<div class="col-md-5 col-lg-5 col-sm-5 col-xs-0"></div>
			<div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 block">
				<form role="form row">
					<div class="form-group">
						<div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 no-padding">
							<label id="proc">Procedure:</label>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-5 col-xs-12 no-padding">
							<input type="email" class="form-control" id="email" style="">
						</div>
						<div class="col-md-3 col-lg-3 col-sm-3 col-xs-10 no-padding main_button">
							<button type="submit" class="btn btn-primary btn-md rais" style="">
								<span class="search_doc">Search Doctors</span>
							</button>
						</div>

					</div>
				</form>


			</div>
		</div>
	</section>

</div> -->



<div class="row procedure">
	<div class="col-lg-8 col-sm-8 col-xs-12 col-md-8 border">
		<div class="row ">
			{{#each doctors}}
				<div class="col-lg-4 col-sm-6 col-xs-12 col-md-4 doctor " style="padding-right:20px;padding-left:20px">
					<div class="thumbnail" style="border:1px solid #53C8AB;">
						<img src="{{cloudinaryUrl imageOuter}}" class="doct" style="filter: grayscale(1);">
						<p>{{name}}</p>
						<span>{{{summary}}}</span>
						<span style="padding-left:40px;">
							<input class="btn btn-primary btn-md raise " type="submit" value="View Profile" style="outline:none;" onclick="location.href='/doctor/{{key}}'">
						</span>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	<div class="col-lg-4 col-sm-4 col-xs-0 col-md-4 qwe">
		<h4 class="specialities" style="background-color:rgb(198,198,198);color:white;">Filter Doctors by Procedure</h4>
		<!-- <div class="panel-group panel_doc" id="accordion" role="tablist" aria-multiselectable="true" style="border-left: solid 2px rgb(198,198,198);border-right: solid 2px rgb(198,198,198);border-bottom: solid 2px rgb(198,198,198); border-top:solid 8px rgb(198,198,198);"> -->
		<div id="accordion" class="panel-group panel_doc" aria-multiselectable="true" role="tablist">
			{{#each speciality}}
				<div class="panel panel-default">
					<div id="headingOne" class="panel-heading panel_heading" style="border-width: 0px 0px 2px; border-bottom: 2px solid rgb(198, 198, 198);" role="tab">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{key}}" aria-expanded="false" aria-controls="collapseOne" style="outline:none;color:black;">
							<h4 class="panel-title" style="padding-left:5px;">
								<div class="row accordion_doc">
									<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 ">
										<img src="/images/{{key}}.png" width="60%" height="auto">
									</div>
									<div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 pro" style="padding-top:4px;">
										{{name}}
									</div>
									<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 icon" style="padding-left:30px;">
										<span class="glyphicon glyphicon-chevron-down" style="top: 5px;"></span>
									</div>
								</div>
							</h4>
						</a>

					</div>
					<div id="{{key}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body" style="background-color:rgb(246,246,246)">
							<form method="post" enctype="multipart/form-data">
								<input type="hidden" name="action" value="radioSearch">
								{{#each procedures}}
									<div>
										<input type="radio" style="background-color: #e7e7e7;border-color: #ddd;" name="procedure" value= {{key}} onclick="this.form.submit()">
										<span style="font-family:SourceSansPro-Regular">{{name}}</span>
									</div>
								{{/each}}
							</form>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/pro.js"></script>
</div>

{{>footer}}
