{{>header}}
<div class="packagePic marginAlign ">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
		</div>
	</div>
</div>

<div class="row procedure">
	<div class="col-lg-8 border no-padding ">
		<div class="row" >
			<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></div>
				<div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 ">
		<div class="row">

			{{#each packages}}
				<!-- <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></div> -->
				<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 ">
					<div class="thumbnail" style="margin-top:30px;margin-bottom:0px;">
						<div class="image " style="position: relative; width:100%">
							<img src="/images/Panchakarma 1.jpg" style="display:block;margin-left:auto;margin-right:auto;width:100%;">
							<h2 style="position: absolute;top:125px;width: 100%;left:15px;color:white;font-family:SourceSansPro-Semibold;font-size:26px;">{{name}}</h2>
						</div>
						<div class="caption">
							<p style="font-family:SourceSansPro-Regular;color:rgb(53,53,53);text-align:justify;padding-left:7px;padding-right:7px;padding-top:5px;">Alternative medical practices are generally not recognized by the medical community as standard or conventional medical approaches. Alternative medicine includes dietary supplements, megadose vitamins, herbal preparations</p>
							<p><a class="btn btn-default" role="button" style="box-shadow: 0 3px 0 0 #b24b4d;background-color: #ff6c6f;border-color: rgb(255,108,111);margin-left:8px;color:white;font-family:SourceSansPro-Regular;margin-top:10px;"onclick="location.href='/package/{{key}}'">Know more</a></p>
						</div>

					</div>
				</div>
				<!-- <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></div> -->
			{{/each}}
		</div>
		</div>
		<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></div>
	</div>
	</div>

	<div class="col-lg-4 no-padding">
		<h4 class="specialities" style="background-color:#C6C6C6;color:white;margin-bottom:0px;">Packages</h4>
		<ul class="nav nav-stacked tabs">
			{{#each packageCategory1}}
				{{#if active}}
					<li role="presentation" class="active" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
									<!-- style="width:27px;height:28.1px;position:relative;top:8px" -->
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>

							</div>
						</a>
					</li>
				{{else}}
					<li role="presentation" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>
							</div>
						</a>
					</li>
				{{/if}}
			{{/each}}

			<h4 class="specialities" style="background-color:#C6C6C6;color:white;margin-bottom:0px;">Checkups</h4>
			{{#each packageCategory2}}
				{{#if active}}
					<li role="presentation" class="active" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>

							</div>
						</a>
					</li>
				{{else}}
					<li role="presentation" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>
							</div>
						</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	</div>
</div>
{{>footer}}
