{{>header}}
<div class="packagePic marginAlign ">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
		</div>
	</div>
</div>

<div class="row procedure">
	<div class="col-lg-8 border no-padding ">
		<div class="row">
			<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></div>
			<div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 ">
				<div class="row">
				<div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 ">
				<h3 style="font-family:SourceSansPro-Semibold">Rejuvination Package</h3>
			</div>
			<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 ">
				<button type="submit" class="" style="margin-top:10px;color:#456C39;border: 2px solid #456C39;border-radius:4px;padding: 5px 20px;font-family:SourceSansPro-Regular;font-size:16.5px;" data-toggle="modal" data-target="#myModal">Enquire</button>
       </div>
		 </div>
				<!-- <button type="submit" class="" style="position:relative;top:-45px;float:right;color:#456C39;border: 2px solid #456C39;border-radius:4px;padding: 5px 20px;font-family:SourceSansPro-Regular;font-size:16.5px;" data-toggle="modal" data-target="#myModal">Enquire</button> -->
				<p style="padding-top: 15px; padding-bottom: 15px;">Alternative medical practices are generally not recognized by the medical community as standard or conventional medical approaches. Alternative medicine includes dietary supplements, megadose vitamins, herbal preparations</p>

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne" style="border-radius:4px;">

							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="outline:none">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-lg-11 col-md-11 col-sm-11 c0l-xs-11">
											<span style="color:black">Who should follow this?</span>
										</div>
										<div class="col-lg-1 col-md-1 col-sm-1 c0l-xs-1">
											<span class="glyphicon glyphicon-chevron-down" style="color: #d6d2d2;"></span>
										</div>
									</div>
								</h4>
							</a>

						</div>
						<div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								Those whole live with constant stress and strain from their work and daily lifestyle, addicts of tobacco, alcohol and drugs, those who have been taking prescription medicines over a long period of time, those who suffer from ailments such as arthritis,
								rheumatism, chronic digestive problems, constipation, migraines, obesity, insomnia, or just about anybody who feels the need to purify their body.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo" style="border-radius:4px;">

							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="outline:none">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-lg-11 col-md-11 col-sm-11 c0l-xs-11">
											<span style="color:black">	Inclusions</span>
										</div>
										<div class="col-lg-1 col-md-1 col-sm-1 c0l-xs-1">
											<span class="glyphicon glyphicon-chevron-down" style="color: #d6d2d2;"></span>
										</div>
									</div>
								</h4>
							</a>

						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul style="list-style-type:circle">
									<li> All Inclusive Luxury Accommodation </li>
									<li> Two Daily Educational Talks, Presentations, Workshops and Informal Group Sessions</li>
									<li> Daily Yoga and Relaxation Session or Workshop</li>
									<li> Daily Guided Meditation Session or Workshop</li>
									<li> Daily Holistic Treatments from Across the Globe*</li>
									<li> Daily Course of over 33 Combining Natural and Ayurvedic Products and Supplements</li>
									<li> Daily Personalised Nutritionally Balanced Vegetarian Meal Plans (Juices, Broths and Super foods)</li>
									<li> Two Daily Sessions of Colon Cleansing (self administered).</li>
									<li> A Personal Diet and Nutrition Consultation and Personalised Planning</li>
									<li> Life Coaching, Goal Setting</li>
									<li> An Exclusive One-to-One Session of NLP (Neuro-Linguistic Programming) / Hypnotherapy</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree" style="border-radius:4px;">

							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="outline:none">
								<h4 class="panel-title">
									<div class="row">
										<div class="col-lg-11 col-md-11 col-sm-11 c0l-xs-11">
												<span style="color:black">Tariffs</span>
										</div>
										<div class="col-lg-1 col-md-1 col-sm-1 c0l-xs-1">
											<span class="glyphicon glyphicon-chevron-down" style="color: #d6d2d2;"></span>
										</div>
									</div>
								</h4>
							</a>

						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<table border="1" style="width:100%">
									<tr>
										<td>Days</td>
										<td>Single</td>
										<td>Couple</td>
									</tr>

									<tr>
										<td>5 nights</td>
										<td>100</td>
										<td>170</td>
									</tr>
									<tr>
										<td>7 nights</td>
										<td>200</td>
										<td>290</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour" style="border-radius:4px;">

								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="outline:none">
									<h4 class="panel-title">
										<div class="row">
											<div class="col-lg-11 col-md-11 col-sm-11 c0l-xs-11">
													<span style="color:black">Other Services</span>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-1 c0l-xs-1">
												<span class="glyphicon glyphicon-chevron-down" style="color: #d6d2d2;"></span>
											</div>
										</div>
									</h4>
								</a>

							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body">

									<ul style="list-style-type:circle">
										<li> Airport Pick-Up and Delivery </li>
										<li> Welcome drink </li>
										<li> Welcome meal (breakfast/lunch or dinner depending on arrival time) </li>
										<li> Packed snack for departure journey </li>
										<li> Access to a library of books and DVD's on Health and Wellness </li>
										<li> Sanda Retreats Total Body Rebalance Workbook </li>
										<li> Personalised Retreat Diary </li>
										<li> Complementary Dry-Skin Weight Loss Body Brush </li>
										<li> Expert support and counseling as and when required </li>
										<li> Access to a library of books and DVD's on Health and Wellness </li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="width:20%;top:80px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<form style="text-align:center">
						<div class="form-group">
							<input type="email" class="" id="exampleInputEmail1" placeholder="Rejuvination" style="padding-left:10px;">
						</div>
						<div class="form-group">
							<input type="name" class="" id="name" placeholder="Name" style="padding-left:10px;">
						</div>
						<div class="form-group">
							<input type="phone" class="" id="phone" placeholder="Password" style="padding-left:10px;">
						</div>
						<div class="form-group">
							<input type="email" class="" id="email" placeholder="Email" style="padding-left:10px;">
						</div>
						<div class="form-group">
							<textarea class="" rows="3" placeholder="Message" style="padding-left:10px;"></textarea>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<div class="col-lg-4 no-padding">
		<h4 class="specialities" style="background-color:#C6C6C6;color:white;margin-bottom:0px;">Packages</h4>
		<ul class="nav nav-stacked tabs">
			{{#each packageCategory1}}
				{{#if active}}
					<li role="presentation" class="active" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
									<!-- style="width:27px;height:28.1px;position:relative;top:8px" -->
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>

							</div>
						</a>
					</li>
				{{else}}
					<li role="presentation" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>
							</div>
						</a>
					</li>
				{{/if}}
			{{/each}}

			<h4 class="specialities" style="background-color:#C6C6C6;color:white;margin-bottom:0px;">Checkups</h4>
			{{#each packageCategory2}}
				{{#if active}}
					<li role="presentation" class="active" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>

							</div>
						</a>
					</li>
				{{else}}
					<li role="presentation" style="margin-top: 0px;">
						<a href="/packages/{{key}}">
							<div class="row">
								<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
									<img src="/images/{{key}}.png">
								</div>
								<div class="col-lg-9">
									<span>{{name}}</span>
								</div>
							</div>
						</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
	</div>
</div>
{{>footer}}
