<div class="container">
	<div class="row procedure">
		<div class="col-lg-8 border">
			<img src="http://placehold.it/450x150">
			<div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top:4px;margin-left:20px">

				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav">
						<li><a href="#overview">Overview</a></li>
						<li><a href="#providers">Featured Providers</a></li>
						<li><a href="#doctors">Specialists</a></li>
					</ul>
				</nav>


				<h4 id="overview"></h4>
				{{#each specialities}}
					<p>
						{{{description}}}
					</p>
				{{/each}}

				<h4 id="providers">Featured Providers</h4>
				{{#each providers}}
					<div class="row procedure-box">
						<div class="col-lg-4">
							<img src="{{cloudinaryUrl image}}">
						</div>
						<div class="col-lg-6">
							<h3>{{name}}</h3>
							<a href="/provider/{{key}}">
								<p>Know More</p>
							</a>
						</div>
					</div>
				{{/each}}
				<h4 id="doctors">Doctors</h4>
				{{#each doctors}}
					<div class="row proc">
						<div class="col-lg-3">
							<img src="http://placehold.it/120x120">
						</div>
						<div class="col-lg-5 procedure-doc">
							<p><a href="/doctor/{{key}}">{{name}}</a></p>
							<p>{{{bio}}}</p>
							<p>{{data}}</p>
						</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" id="text" value="Verified">
						</div>
					</div>
				{{/each}}
				<h4 id="procedures">Procedure</h4>
				<div class="row proc">
					{{#each procedures}}
						<div>
							<label>{{name}}: ₹ {{price}} </label>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<ul class="nav nav-stacked tabs">
				{{#each specialities}}
					{{#if active}}
						<li role="presentation" class="active">
							<a href="/procedure/{{key}}" style="height: 60px;margin-left:80px;">
								<img src="/images/{{key}}.jpg" style="width:50px;height:30px;margin-left:-60px;margin-top:0px;">{{name}}</a>
						</li>
					{{else}}
						<li role="presentation"><a href="/procedure/{{key}}" style="height:60px;">{{name}}</a></li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>
