<div class="container">
	<div class="row procedure">
		<div class="col-lg-8 border">
			<img src="http://placehold.it/450x150">
			<div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top:4px;margin-left:20px">
				<!-- <div id="navbar-example">
					<ul class="nav nav-pills nav-justified pills" role="tablist">
						{{#each treatment_nav}}
							<li class="active"><a href="#about">{{name}}</a></li>
						{{/each}}
					</ul>
				</div> -->
				<div id="navbar-example">
					<ul class="nav nav-tabs" style="border:none;margin-top:-5px; background-color: rgb(237, 237, 237); width: 768px; height: 70px; margin-left: -45px;padding-left:100px;padding-top:15px;" role="tablist">
						<li class="active"><a href="#overview">Overview</a></li>
						<li><a href="#providers">Featured Providers</a></li>
						<li><a href="#doctors" style="background-color:rgb(237,237,237);border:none;color:black;">Specialists</a></li>
					</ul>
				</div>


				<h4 id="overview"></h4>
				{{#each speciality}}
					<p>
						{{{discription}}}
					</p>
				{{/each}}

				<h4 id="providers">Featured Providers</h4>
				{{#each providers}}
					<div class="row procedure-box">
						<div class="col-lg-4">
							<img src="{{cloudinaryUrl image}}">
						</div>
						<div class="col-lg-6">
							<h3>{{name}}</h3>
							<button type="button" class="bttn" onclick=location.href="/user/">Know More</button>
						</div>
					</div>
				{{/each}}

				<h4 id="doctors">Doctors</h4>
				{{#each doctors}}
					<div class="row proc">
						<div class="col-lg-3">
							<img src="http://placehold.it/120x120">
						</div>

						<div class="col-lg-5 procedure-doc">
							<p><a href="/doctor/{{key}}">{{name}}</a></p>
							<p>{{description}}</p>
							<p>{{data}}</p>
						</div>

						<div class="col-lg-2">
							<input type="text" class="form-control" id="text" value="Verified">

						</div>
					</div>
				{{/each}}

				<!-- <h4 id="procedures" style="margin-left:-32px;border-top:2px solid #e5e5e5;padding-top:20px;">Procedures</h4>
				{{#each treatments}}
					<div class="row treat"  style="border-bottom-width: 0px;">
						<div class="col-lg-3">
							<img src="images/logo.png">
						</div>

						<div class="col-lg-6 treatment-doc">
							<p>{{name}} </p>
							<p>{{description}}</p>
							<p>{{data}}</p>
						</div>

						<div class="col-lg-3">
							<button type="button" class="btn btn-default">Verified</button>
						</div>
					</div>
				{{/each}} -->

			</div>
		</div>


		<div class="col-lg-4">
			<ul class="nav nav-stacked tabs">
				{{#each specialities}}
					<li role="presentation" class="active"><a href="/procedure/{{key}}">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>

	</div>

</div>
