<div class="container">
	<div class="row procedure">
		<div class="col-lg-8 border">
			<img src="images/hosp3.png">
			<div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top: 4px;margin-left:20px">
				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav">
					 <li><a href="#about" >About</a></li>
					<li><a href="#doctors">Doctors</a></li>
					<li><a href="#procedures">procedures</a></li>
					<li><a href="#reviews">Reviews</a></li>
				</ul>
			</nav>
				<h4 id="about"></h4>
				{{#each provider}}
				<p>{{description}}</p>
				{{/each}}

				<h4 id="doctors">Doctors</h4>
				{{#each provider.doctors}}
					<div class="row proc">
						<div class="col-lg-3 ">
							<img src="images/logo.png">
						</div>
						<div class="col-lg-5  procedure-doc">
							<p><a href="/doctor/{{key}}">{{name}}</a></p>
							<p>{{description}}</p>
							<p>{{data}}</p>
						</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" id="text" placeholder="Verified">
						</div>
					</div>
				{{/each}}
				<h4 id="procedures">Procedures</h4>
				<div class="row proc">
					{{#each procedures}}
						<div class="col-lg-4">
							<button type="button" class="btn btn-default">{{name}}</button>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-lg-4 name">
			<h3>{{provider.name}}</h3>
			<br>
			<br>
			<div class="form">
				<form>
					<div class="form-group nm">
						<input type="name" class="form-control" id="name" placeholder="Name:">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="email" placeholder="Email:">
					</div>
					<div class="form-group">
						<input type="phone" class="form-control" id="phone" placeholder="Phone(Optional)">
					</div>
					<div class="form-group">
						<select id="pro" class="form-control" name="procedure">
	        {{#each procedures}}
	       <option value="Honeymoon">{{name}}</option>
	<!-- <option value="family">Family</option>
	<option value="friends">Friends</option>
	<option value="adventure">Adventure</option> -->
	        {{/each}}
	        </select>
					</div>
					<br>
					<!-- <input type="treatment" class="form-control" id="treatment" placeholder="Treatment" style="width: 300px; height: 45px;">
				</div> -->
					<div class="form-group">
						<textarea class="textarea" rows="5" placeholder="Questions/Comments"></textarea>
					</div>
				</form>
				<br>
				<br>
				<br>
				<button type="button" class="button" style="">Enquire</button>
			</div>
		</div>
	</div>
