<!-- <div class="container"> -->
<div class="row procedure">
	<div class="col-lg-8 border">
		<img src="images/hosp3.png">
		<div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top: 4px;margin-left:20px">
			<nav class="navbar navbar-default">
				<ul class="nav navbar-nav">
					<li><a href="#about">About</a></li>
					<li><a href="#doctors">Dcotors</a></li>
					<li><a href="#procedures">Procedures</a></li>
					<li><a href="#reviews">Reviews</a></li>
				</ul>
			</nav>
			<h4 id="about"></h4>
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<p>{{{provider.description}}}</p>
				</div>
				<div class="col-lg-1">
				</div>
			</div>
			<h4 id="doctors">
				<span>Doctors</span>
			</h4>
			{{#each provider.doctors}}
				<div class="row proc">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-3 ">
						<img src="images/logo.png">
					</div>
					<div class="col-lg-5  procedure-doc">
						<p><a href="/doctor/{{key}}">{{name}}</a></p>
						<p>{{description}}</p>
						<p>{{data}}</p>
					</div>
					<div class="col-lg-2">
						<!-- <button type="button" class="bttn ">Verified</button> -->
						<input type="text" class="form-control" id="text" placeholder="Verified">
					</div>
					<div class="col-lg-1">
					</div>
				</div>
			{{/each}}
			<!-- <h4 id="procedures">Speciality</h4>
				<div class="row proc">
					{{#each specialities}}
						<div class="col-lg-4">
							<button type="button" class="btn btn-default">{{name}}</button>
						</div>
					{{/each}}
				</div> -->
			<h4 id="procedures">
				<span>Procedure</span>
			</h4>
			<div class="row proc">
				{{#each specialities}}
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{key}}" aria-expanded="true" aria-controls="collapseOne">
					        {{name}}
					        </a>
								</h4>
							</div>

							<div id="{{key}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">

									{{#each proc}}
										<p> {{name}}</p>
									{{/each}}
								</div>
							</div>

						</div>

					</div>
				{{/each}}
			</div>
			<h4 id="reviews" style="">
				<span>Reviews</span>
			</h4>
			<span class="glyphicon glyphicon-star" style="margin-left:30px"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<p style="margin-left: 30px;">Lorem Ipsum,</p>
			<p style="margin-left: 30px;">dolor ahajfnnsnsAMnkjndj janangfgbdbd</p>
			<p style="margin-left: 30px;">jjjajjaa ahnf go away somehwhere, best care and</p>
			<p style="margin-left: 30px;">help all over.</p>
			<button type="submit" class="btn btn-default" style="margin-left:30px; ">Write a review</button>
		</div>
	</div>
	<div class="col-lg-4 name">
		<h3>{{provider.name}}</h3>
		<br>
		<br>
		<div class="form">
			<form class="form-inline" method="post">
				<input type="hidden" name="action" value="enquire">
				<div class="form-group nm">
					<input type="text" name="name.full" class="form-control" id="name" placeholder="Name:">
				</div>
				<div class="form-group">
					<input type="email" name="email" class="form-control" id="email" placeholder="Email:">
				</div>
				<div class="form-group">
					<input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone(Optional)">
				</div>
				<div class="form-group">
					<input type="text" name="procedure" class="form-control" id="procedure" placeholder="Procedure">
					<input type="hidden" id="procedureId" name="procedureId" value="">
				</div>
				<div class="form-group">
					<input type="text" name="doctor" class="form-control" id="doctor" placeholder="Doctor">
					<input type="hidden" id="doctorId" name="doctorId" value="">
				</div>
				<div class="form-group">
					<textarea class="textarea" name="message" rows="5" placeholder="Questions/Comments"></textarea>
				</div>
				<br>
				<input type="submit" value="Enquire" class="button" style="" />
			</form>
			{{#if enquirySent}}
				<br>
				<h3 style="margin-left: 0px;">Enquiry Sent successfully</h3>
			{{/if}}

			<br>

		</div>
	</div>
	<!-- </div> -->
