<!-- <div class="container"> -->
	<div class="row" style="margin:0px;">
		<div class="col-lg-8 border no-padding" style="border-right:2px solid #e5e5e5;">
			{{#each providers}}
				<div class="row provider-box">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<img class="provider-img" src="{{cloudinaryUrl image}}" width="100%";height="auto";>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 provider-info">
						<h3>{{name}}</h3>

							{{{description}}}
							<button type="button" class="btn btn-default" onclick="location.href='/provider/{{key}}'">Know More</button>


					</div>
				</div>
			{{/each}}
		</div>

			<div class="col-lg-4 no-padding">
				<ul class="nav nav-stacked tabs">
					{{#each providerCategories}}
					{{#if active}}
						<li role="presentation" class="active">
							<a href="/providers/{{key}}" style="">

								<span>{{name}}</span>
							</a>
						</li>
					{{else}}
						<li role="presentation">
							<a href="/providers/{{key}}" style="">

								<span>{{name}}</span>
							</a>
						</li>
					{{/if}}
						{{/each}}
				</ul>
			</div>

	</div>
<!-- </div> -->
