<div class="container">
	<div class="row" style="margin-left:0px;">
		<div class="col-lg-9" style="border-right:2px solid #e5e5e5">
			{{#each providers}}
				<div class="row provider-box">
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<img class="provider-img" src="{{cloudinaryUrl image}}">
					</div>

					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
						<h3>{{name}}</h3>
						<p>
							<button type="button" class="btn btn-default" onclick="location.href='/providerInfo/{{key}}'">Know More</button>
							<!-- <script src="/js/btn.js"></script> -->
						</p>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each providerCategories}}
			<div class="col-lg-3">
				<ul class="nav nav-stacked tab">
					<li role="presentation" class="active"><a href="/provider/{{key}}">{{name}}</a></li>
				</ul>
			</div>
		{{/each}}
	</div>
</div>
