<!-- <div class="container"> -->
<div class="row procedure">
	<div class="col-lg-8 border">
		<img src="images/hosp3.png">
		<div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top: 4px;margin-left:20px">
			<nav class="navbar navbar-default">
				<ul class="nav navbar-nav">
					<li><a href="#about">About</a></li>
					<li><a href="#doctors">Doctors</a></li>
					<li><a href="#speciality">Speciality</a></li>
					<li><a href="#reviews">Reviews</a></li>
				</ul>
			</nav>
			<h4 id="about"></h4>
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<p>{{{provider.description}}}</p>
				</div>
				<div class="col-lg-1">
				</div>
			</div>

			<h4 id="doctors">
				<span>Doctors</span>
			</h4>
			<div class="q">
				<div class="p">
					{{#each provider.doctors}}

						<div class="row proc " style="margin-left:0px;">
							<div class="col-lg-1">
							</div>
							<div class="col-lg-3 ">
								<img src="images/logo.png">
							</div>
							<div class="col-lg-5  procedure-doc">
								<p><a href="/doctor/{{key}}">{{name}}</a></p>
								<p>{{{description}}}</p>

							</div>
							<div class="col-lg-2">
								<!-- <button type="button" class="bttn ">Verified</button> -->
								<input type="text" class="form-control" id="text" placeholder="Verified">
							</div>
							<div class="col-lg-1">
							</div>
						</div>

					{{/each}}
				</div>
			</div>
			<h4 id="speciality">
				<span>Speciality</span>
			</h4>
			<div class="row spec">
				{{#each specialities}}

					<div class="col-lg-4">
						<button type="button" class="btn btn-default">{{name}}</button>
					</div>
				{{/each}}
			</div>
			<!-- <h4 id="procedures">Procedure</h4> -->
			<!-- <div class="row proc">
					{{#each procedures}}
						<div class="col-lg-4">
							<button type="button" class="btn btn-default">{{name}}</button>
						</div>
					{{/each}}
				</div> -->
		</div>
	</div>
	<div class="col-lg-4 name">
		<h3>{{provider.name}}</h3>
		<br>
		<br>
		<div class="form">
			<form class="form-inline" method="post">
				<input type="hidden" name="action" value="enquire">
				<div class="form-group nm">
					<input type="text" name="name.full" class="form-control" id="name" placeholder="Name:">
				</div>
				<div class="form-group">
					<input type="email" name="email" class="form-control" id="email" placeholder="Email:">
				</div>
				<div class="form-group">
					<input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone(Optional)">
				</div>
				<div class="form-group">
					<input type="text" name="procedures" class="form-control" id="procedure" placeholder="Procedure">
				</div>
				<div class="form-group">
					<input type="text" name="doctors" class="form-control" id="doctor" placeholder="Doctor">
				</div>
				<div class="form-group">
					<textarea class="textarea" name="message" rows="5" placeholder="Questions/Comments"></textarea>
				</div>
				<br>
				<input type="submit" value="Enquire" class="button" style="" />
			</form>
			{{#if enquirySent}}
				<br>
				<h3 style="margin-left: 0px;">Enquiry Sent successfully</h3>
			{{/if}}
			<br>
		</div>
	</div>
</div>
<!-- </div> -->
