<!-- <div class="container"> -->
	<div class="row procedure">
		<div class="col-lg-8 border no-padding">
			{{#each providers}}
				<div class="row provider-box">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<img class="provider-img" width="auto" height="auto" style="margin-top: 10px; margin-bottom: 10px;" src="../images/Manipal goa.jpg">
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 provider-info">
						<h3 style="">{{name}}</h3>

							{{{summary}}}
							<button type="button" class="btn btn-primary btn-md raisedsss" onclick="location.href='/provider/{{key}}'">Know More</button>


					</div>
				</div>
			{{/each}}
		</div>

			<div class="col-lg-4 no-padding">
				<ul class="nav nav-stacked tabs">
					{{#each providerCategories}}
					{{#if active}}
						<li role="presentation" class="active">
							<a href="/providers/{{key}}" style="">

								<span>{{name}}</span>
							</a>
						</li>
					{{else}}
						<li role="presentation">
							<a href="/providers/{{key}}" style="">

								<span>{{name}}</span>
							</a>
						</li>
					{{/if}}
						{{/each}}
				</ul>
			</div>

	</div>
<!-- </div> -->
