<div class="container">
	<div class="row treatment">
		<div class="col-lg-8 border">

				<img class="image" src="{{cloudinaryUrl treatmentCategory.image}}">

       <div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top:4px;margin-left:20px">
        <div id="navbar-example">
					<ul class="nav nav-pills nav-justified pills" role="tablist">
						{{#each treatment_nav}}
							<li class="active"><a href="#about">{{name}}</a></li>
						{{/each}}
					</ul>
				</div>


				<h4 id="about"></h4>
				<p>
				{{{treatmentCategory.description}}}
				</p>

				<h4 id="providers">Featured Providers</h4>
				{{#each providers}}
					<div class="row treatment-box">
						<div class="col-lg-4">
							<img src="{{cloudinaryUrl image}}">
						</div>
						<div class="col-lg-6">
							<h3 style="">{{name}}</h3>
							<button type="button" class="button">Know More</button>
						</div>
					</div>
				{{/each}}

				<h4 id="doctors">Doctors</h4>
				{{#each doctors}}
					<div class="row treat">
						<div class="col-lg-3">
							<img src="images/logo.png">
						</div>

						<div class="col-lg-5 treatment-doc">
							<p>{{name}} </p>
							<p>{{description}}</p>
							<p>{{data}}</p>
						</div>

						<div class="col-lg-2">
							<button type="button" class="bttn">Verified</button>
						</div>
					</div>
				{{/each}}

				<!-- <h4 id="procedures" style="margin-left:-32px;border-top:2px solid #e5e5e5;padding-top:20px;">Procedures</h4>
				{{#each treatments}}
					<div class="row treat"  style="border-bottom-width: 0px;">
						<div class="col-lg-3">
							<img src="images/logo.png">
						</div>

						<div class="col-lg-6 treatment-doc">
							<p>{{name}} </p>
							<p>{{description}}</p>
							<p>{{data}}</p>
						</div>

						<div class="col-lg-3">
							<button type="button" class="btn btn-default">Verified</button>
						</div>
					</div>
				{{/each}} -->

			</div>
		</div>


		<div class="col-lg-4">
			<ul class="nav nav-stacked tabs">
				{{#each treatmentCategories}}
					<li role="presentation" class="active"><a href="/treatment/{{key}}">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>

	</div>

</div>
