<div class="container">


		  <div class="row treatment">
		  <div class="col-lg-9" style="border-right:2px solid #e5e5e5">
			{{#each treat}}
			<img class="provider-img" src="{{cloudinaryUrl image}}" style="border:1px solid black">
			{{/each}}

			    <div class="scrolls" data-spy="scroll" data-target="#navbar-example" style="margin-top: 4px;margin-left:20px">

       	  <div id="navbar-example">
          <ul class="nav nav-pills nav-justified pills" role="tablist">
          {{#each treatment_nav}}
          <li class="active"><a href="#about">{{name}}</a></li>
          {{/each}}
          </ul>
		      </div>


			 <h4 id="about" ></h4>
			 <p style="font-size: 16px; margin-top: 45px; border-bottom: 2px solid #e5e5e5; padding-bottom: 30px; margin-left: -40px;">
				{{{treatment.description}}}
			 </p>

			  <h4 id="providers" style="margin-left: -32px;">Featured Providers</h4>
        {{#each providers}}
		   	<div class="row treatment-box">
				<div class="col-lg-5">
				<img src="{{cloudinaryUrl image}}" style="border:1px solid black">
				</div>
				<div class="col-lg-7" >
				<h3 style="">{{name}}</h3>
				<button type="button" class="btn btn-default">Know More</button>
				</div>
			  </div>
				{{/each}}

		  <h4 id="doctors" style="margin-left:-32px;border-top:2px solid #e5e5e5;margin-top:15px;padding-top:12px">Doctors</h4>
       {{#each doctors}}
      <div class="row treat">
      <div class="col-lg-3">
      <img  src="images/logo.png">
			</div>

      <div class="col-lg-6 treatment-doc">
      <p>{{name}} </p>
			<p>{{description}}</p>
			<p>{{data}}</p>
      </div>

     	<div class="col-lg-3">
			<button type="button" class="btn btn-default">Verified</button>
      </div>
      </div>
			{{/each}}

     <h4 id="procedures" style="margin-left:-32px" >Procedures</h4>
      </div>
		  </div>


		 <div class="col-lg-3">
		 <ul class="nav nav-pills nav-stacked tabs" >
     {{#each categories}}
     <li role="presentation" class="active"><a href="#">{{name}}</a></li>
     {{/each}}
     </ul>
		 </div>

		</div>

</div>
