<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Goa medical travel</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

	{{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //- Safely remove
	this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->
</head>

<body>
	<!-- <div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script> -->



	<div id="header" style="margin-top:0px;">
		<!-- <div class="container"> -->
		<div role="navigation" class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;">
			<div class="container-fluid">

				<div class="row">
					<div class="col-lg-4">
						<div class="navbar-header">
							<div class="row">
								<div class="col-lg-2">
								</div>
								<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="col-lg-10">
									<a href="/" class="navbar-brand" style="width:100%;height:auto;">
										<img alt="Goa Medical Travel" src="/images/gmtwhite.png" style="width:60%;height:auto;margin-bottom: 5px; margin-top: 5px;  margin-left: -5px;" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-11">
								<div class="row">
									<div class="collapse navbar-collapse">
										<ul class="nav navbar-nav navbar-right">
											{{# each navs}}
											<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}} style="font-family: SourceSansPro-Regular;font-size:16.5px;">
												<a href="{{ href }}" style="color:#959595;background-color:rgb(43,43,43);">{{ label }}</a>
											</li>
											{{/each}}
										</ul>
									</div>
								</div>
								<div class="row" style="padding-top: 10px;">
									<div class="collapse navbar-collapse">
										<ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
											{{# each navLinks}}
											<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}} style="font-family: SourceSansPro-Regular;font-size:16.5px;padding-left:20px;">
												<a href="{{ href }}" style="outline:none;color:rgb(235,235,235);background-color:rgb(43,43,43);">{{ label }}</a>
											</li>
											{{/each}}
											<li style="padding-left:35px;">
												<button type="submit" class="btn btn-primary btn-md connect" style="background-color: #ff6c6f;	border-color:#ff6c6f;	box-shadow: 0 3px 0 0 #B24B4D;outline:none;margin-top:10px;	">connect</button>
												<li>
													<!-- <li style="padding-left:35px"> <a class="connect" style="padding: 3px 8px;color: #D55F61; font-family: SourceSansPro-Regular;font-size:17px" href="#" data-toggle="modal" data-target="#myModal">Connect</a></li> -->
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->
	</div>
	<div class="tryIndex" id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}} {{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}} {{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}} {{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the bod
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Sign in</button>
    <a href="/signup/">Signup</a>
      </div>
    </div>
  </form>
    </div>
  </div>



</div>y of your template's content-->

		{{{body}}}
		<nav class="footer">
			<div class="fluid-container">
				<div class="foot row" style="">
					<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
						<div class="row">
							<div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">
							</div>
							<div class="col-md-11 col-lg-11 col-xs-11 col-sm-11 f_img" style="margin-left: -5px;">
								<img src="../images/gmtwhite.png" style="">
								<p style=" margin-bottom: 0px; padding-top: 15px; ">+91 832 240 5900</p>
								<p style=" ">info@goamedicaltravel.com</p>
								<p style=" margin-bottom: 0px;padding-bottom: 18px;"><i class="fa fa-copyright"></i> Copyright 2015 Friendly Hospitality Solutions Pvt. Ltd.</p>

							</div>
						</div>
					</div>
					<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
						<div class="row foot_data" style="">

							<div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
								<h4 style="color:white; font-size:15px;font-family:SourceSansPro-Regular;">Explore</h4>
								<ul style="list-style-type:none; padding-left: 0px;">
									<li><a href="/" style="	color: white;">About Us</a></li>
									<li><a href="/" style="color:white; ">How it Works</a></li>
									<li><a href="/" style="color:white; ">HIPAA</a></li>
									<li><a href="/" style="color:white; ">Privacy Policy</a></li>
									<li><a href="/" style="color:white;">Contact Us</a></li>
									<li><a href="/" style="color:white; ">Blog</a></li>
								</ul>
							</div>

							<div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
								<h4>&nbsp;</h4>
								<ul style="list-style-type:none; padding-left: 0px;">
									<li><a href="/" style="color:white; ">Our Mission</a></li>
									<li><a href="/" style="color:white; ">FAQs</a></li>
									<li><a href="/" style="color:white; ">Terms of Use</a></li>
									<li><a href="/" style="color:white; ">Management</a></li>
									<li><a href="/" style="color:white;">News & Events</a></li>
									<ul>
							</div>
							<div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">
							</div>
							<div class="col-md-5 col-lg-5 col-xs-5 col-sm-5" style="padding-left: 50px;">
								<h4 style="color:white; font-size:15px;font-family:SourceSansPro-Regular;">Connect On</h4>
								<a href=""><i class="fa fa-facebook-square fa-2x" style="color:rgb(58,87,149)"></i></a>
								<a href=""><i class="fa fa-twitter-square fa-2x" style="color:rgb(40,169,224)" ></i></a>
								<a href=""><i class="fa fa-google-plus-square fa-2x" style="color:rgb(230,75,68)"></i></a>
								<a href=""><i class="fa fa-linkedin-square fa-2x" style="color:rgb(1,119,181)"></i></a>

								<!-- <h4>&nbsp;</h4> -->
								<!-- <div class="fb-like" data-href="LINK" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="padding-top: 2px;"></div> -->
							</div>

						</div>
					</div>
				</div>
				<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
				<script src="/js/pro.js"></script>


			</div>
	</div>
	</nav>
	</div>
	<!-- <div class="container"> -->

	<!-- </div> -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px; ">
		<div class="modal-dialog" role="document" style="width:60%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal row ">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class="col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputName2"> Full Name</label>
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Prefix">
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<input type="text" class="form-control" id="exampleInputEmail2" placeholder="First Name">
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Last Name">
						</div>
						<!-- <div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
			</div> -->
					</form>

					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputEmail1">Email address</label>
						</div>
						<div class=" col-lg-8 col-xs-8 col-sm-8 col-md-8">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>


					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputName2"> Mobile No</label>
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Code">
						</div>
						<div class=" col-lg-6 col-xs-6 col-sm-6 col-md-6">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mobile no">
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>

					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputName2"> Query </label>
						</div>
						<div class="col-lg-8 col-xs-8 col-sm-8 col-md-8">
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>
					<!-- <img id="captcha" src="library/vender/securimage/securimage_show.php" alt="CAPTCHA Image" />
		      <a href="#" onclick="document.getElementById('captcha').src = 'library/vender/securimage/securimage_show.php?' + Math.random(); return false" class="btn btn-info btn-sm">Show a Different Image</a><br/>
		      <div class="form-group" style="margin-top: 10px;">
		        <input type="text" class="form-control" name="captcha_code" id="captcha_code" placeholder="For security, please enter the code displayed in the box." />
		        <span class="help-block" style="display: none;">Please enter the code displayed within the image.</span>
		      </div> -->


					<!-- <script type="text/javascript">
		var RecaptchaOptions = {
			 theme : 'custom',
			 custom_theme_widget: 'recaptcha_widget'
		};
</script>

<form method="post" action="<?php echo $base_url; ?>user/register/check" method="post" class="form-horizontal well" accept-charset="UTF-8">

									 <script type="text/javascript">
												var RecaptchaOptions = {
													 theme : 'custom',
													 custom_theme_widget: 'recaptcha_widget'
												};
									 </script>
									 <div id="recaptcha_widget" style="display:none">

											 <div class="control-group">
													 <label class="control-label"></label>
													 <div class="controls">
															 <a id="recaptcha_image" href="#" class="thumbnail"></a>
															 <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
													 </div>
											 </div>

													<div class="control-group">
															<label class="recaptcha_only_if_image control-label">Enter the words above:</label>
														 <label class="recaptcha_only_if_audio control-label">Enter the numbers you hear:</label>

														 <div class="controls">
																 <div class="input-append">
																		 <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-recaptcha" />
																		 <a class="btn" href="javascript:Recaptcha.reload()"><i class="icon-refresh"></i></a>
																		 <a class="btn recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')"><i title="Get an audio CAPTCHA" class="icon-headphones"></i></a>
																		 <a class="btn recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')"><i title="Get an image CAPTCHA" class="icon-picture"></i></a>
																	 <a class="btn" href="javascript:Recaptcha.showhelp()"><i class="icon-question-sign"></i></a>
																 </div>
														 </div>
											 </div>

									 </div>

									 <script type="text/javascript"
											src="<?php echo $recaptcha_url; ?>">
									 </script>

									 <noscript>
											 <iframe src="<?php echo $recaptcha_noscript_url; ?>"
													height="300" width="500" frameborder="0"></iframe><br>
											 <textarea name="recaptcha_challenge_field" rows="3" cols="40">
											 </textarea>
											 <input type="hidden" name="recaptcha_response_field"
													value="manual_challenge">
										 </noscript>
</form>
<script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcrK9cSAAAAALEcjG9gTRPbeA0yAVsKd8sBpFpR"></script>

<noscript>
	 <iframe src="<?php echo $recaptcha_noscript_url; ?>"
			height="300" width="500" frameborder="0"></iframe><br>
	 <textarea name="recaptcha_challenge_field" rows="3" cols="40">
	 </textarea>
	 <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
</noscript> -->
					<form class="form-horizontal row">
						<div class="col-lg-5 col-xs-5 col-sm-5 col-md-5">
						</div>

						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<button type="submit" class="btn btn-default">Enquire</button>
						</div>
						<div class="col-lg-5 col-xs-5 col-sm-5 col-md-5">
						</div>
					</form>

					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<label for="exampleInputName2"> Please enter your contact details</label>
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Code">
						</div>
						<div class=" col-lg-5 col-xs-5 col-sm-5 col-md-5">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mobile no">
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	{{!-- //- jQuery 1.11.1 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If you are not targeting IE8, //- you can upgrade to 2.1.3 (also bundled) for better performance. --}}
	<script src="/js/jquery/jquery-1.11.2.min.js"></script>
	<script src="/js/jquery/jquery.autocomplete.js"></script>
	<script>
		$(document).ready(function() {
			$('#procedure').autocomplete({
				serviceUrl: '/autocomplete/Procedure',
				onSelect: function(suggestion) {
					$('#procedureId').val(suggestion.data);
				}
			});
			$('#doctor').autocomplete({
				serviceUrl: '/autocomplete/Doctor',
				onSelect: function(suggestion) {
					$('#doctorId').val(suggestion.data);
				}
			});
			$('#global').autocomplete({
				serviceUrl: '/autocomplete/global',
				onSelect: function(suggestion) {
					$('#globalId').val(suggestion.data);
				}
			});
		});
	</script>
	{{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here, instead of bootstrap-3.3.4.min.js --}}
	<script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>
	{{{isAdminEditorJS user}}}
</body>

</html>
