<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Goa medical travel</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="/styles/star-rating.min.css" rel="stylesheet">
		<link href="/styles/jquery.fullPage.css" rel="stylesheet" >
			<link href="/styles/scrolling-nav.css" rel="stylesheet" >
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

	{{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //- Safely remove
	this block if you are not targeting IE8 --}}

</head>

<body>

	<div class="" id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}} {{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}} {{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}} {{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}

		{{{body}}}

	</div>
	<!-- <div class="container"> -->

	<!-- </div> -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px; ">
		<div class="modal-dialog" role="document" style="width:60%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal row ">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class="col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputName2"> Full Name</label>
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Prefix">
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<input type="text" class="form-control" id="exampleInputEmail2" placeholder="First Name">
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Last Name">
						</div>
						<!-- <div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
			</div> -->
					</form>

					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputEmail1">Email address</label>
						</div>
						<div class=" col-lg-8 col-xs-8 col-sm-8 col-md-8">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>


					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputName2"> Mobile No</label>
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Code">
						</div>
						<div class=" col-lg-6 col-xs-6 col-sm-6 col-md-6">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mobile no">
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>

					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<label for="exampleInputName2"> Query </label>
						</div>
						<div class="col-lg-8 col-xs-8 col-sm-8 col-md-8">
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>
					<!-- <img id="captcha" src="library/vender/securimage/securimage_show.php" alt="CAPTCHA Image" />
		      <a href="#" onclick="document.getElementById('captcha').src = 'library/vender/securimage/securimage_show.php?' + Math.random(); return false" class="btn btn-info btn-sm">Show a Different Image</a><br/>
		      <div class="form-group" style="margin-top: 10px;">
		        <input type="text" class="form-control" name="captcha_code" id="captcha_code" placeholder="For security, please enter the code displayed in the box." />
		        <span class="help-block" style="display: none;">Please enter the code displayed within the image.</span>
		      </div> -->


					<!-- <script type="text/javascript">
		var RecaptchaOptions = {
			 theme : 'custom',
			 custom_theme_widget: 'recaptcha_widget'
		};
</script>

<form method="post" action="<?php echo $base_url; ?>user/register/check" method="post" class="form-horizontal well" accept-charset="UTF-8">

									 <script type="text/javascript">
												var RecaptchaOptions = {
													 theme : 'custom',
													 custom_theme_widget: 'recaptcha_widget'
												};
									 </script>
									 <div id="recaptcha_widget" style="display:none">

											 <div class="control-group">
													 <label class="control-label"></label>
													 <div class="controls">
															 <a id="recaptcha_image" href="#" class="thumbnail"></a>
															 <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
													 </div>
											 </div>

													<div class="control-group">
															<label class="recaptcha_only_if_image control-label">Enter the words above:</label>
														 <label class="recaptcha_only_if_audio control-label">Enter the numbers you hear:</label>

														 <div class="controls">
																 <div class="input-append">
																		 <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-recaptcha" />
																		 <a class="btn" href="javascript:Recaptcha.reload()"><i class="icon-refresh"></i></a>
																		 <a class="btn recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')"><i title="Get an audio CAPTCHA" class="icon-headphones"></i></a>
																		 <a class="btn recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')"><i title="Get an image CAPTCHA" class="icon-picture"></i></a>
																	 <a class="btn" href="javascript:Recaptcha.showhelp()"><i class="icon-question-sign"></i></a>
																 </div>
														 </div>
											 </div>

									 </div>

									 <script type="text/javascript"
											src="<?php echo $recaptcha_url; ?>">
									 </script>

									 <noscript>
											 <iframe src="<?php echo $recaptcha_noscript_url; ?>"
													height="300" width="500" frameborder="0"></iframe><br>
											 <textarea name="recaptcha_challenge_field" rows="3" cols="40">
											 </textarea>
											 <input type="hidden" name="recaptcha_response_field"
													value="manual_challenge">
										 </noscript>
</form>
<script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcrK9cSAAAAALEcjG9gTRPbeA0yAVsKd8sBpFpR"></script>

<noscript>
	 <iframe src="<?php echo $recaptcha_noscript_url; ?>"
			height="300" width="500" frameborder="0"></iframe><br>
	 <textarea name="recaptcha_challenge_field" rows="3" cols="40">
	 </textarea>
	 <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
</noscript> -->
					<form class="form-horizontal row">
						<div class="col-lg-5 col-xs-5 col-sm-5 col-md-5">
						</div>

						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<button type="submit" class="btn btn-default">Enquire</button>
						</div>
						<div class="col-lg-5 col-xs-5 col-sm-5 col-md-5">
						</div>
					</form>

					<form class="form-horizontal row">
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
						<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
							<label for="exampleInputName2"> Please enter your contact details</label>
						</div>
						<div class=" col-lg-2 col-xs-2 col-sm-2 col-md-2">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Code">
						</div>
						<div class=" col-lg-5 col-xs-5 col-sm-5 col-md-5">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mobile no">
						</div>
						<div class="col-lg-1 col-xs-1 col-sm-1 col-md-1">
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	{{!-- //- jQuery 1.11.1 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If you are not targeting IE8, //- you can upgrade to 2.1.3 (also bundled) for better performance. --}}
	<script src="/js/jquery/jquery-1.11.2.min.js"></script>
	<script src="/js/jquery.easings.min.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/js/jquery.fullPage.js"></script>
	<script src="/js/jquery/jquery.autocomplete.js"></script>
	<script>
		$(document).ready(function() {
			$('#procedure').autocomplete({
				serviceUrl: '/autocomplete/Procedure',
				onSelect: function(suggestion) {
					$('#procedureId').val(suggestion.data);
				}
			});
			$('#doctor').autocomplete({
				serviceUrl: '/autocomplete/Doctor',
				onSelect: function(suggestion) {
					$('#doctorId').val(suggestion.data);
				}
			});
			$('#global').autocomplete({
				serviceUrl: '/autocomplete/global',
				onSelect: function(suggestion) {
					$('#globalId').val(suggestion.data);
				}
			});
		});
	</script>
	{{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here, instead of bootstrap-3.3.4.min.js --}}
	<script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>
	{{{isAdminEditorJS user}}}
</body>

</html>
