<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Goa medical travel</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //- Safely
	remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->
</head>

<body>
	<div id="header" style="margin-top:0px">
		<!-- <div class="container"> -->
			<div role="navigation" class="navbar navbar-inverse">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-4">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand" style="width:100%;height:auto;">
							<img alt="Goa Medical Travel" src="/images/logo.png" />
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								{{# each navs}}
								<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}}>
									<a href="{{ href }}">{{ label }}</a>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<div class="row">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							{{# each navLinks}}
							<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>

				</div>
</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
	<div id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}} {{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}} {{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}} {{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the bod
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Sign in</button>
    <a href="/signup/">Signup</a>
      </div>
    </div>
  </form>
    </div>
  </div>



</div>y of your template's content-->
		{{{body}}}
	</div>
	<div class="container">
		<nav class="footer">
			<div class="fluid-container">
				<div class="row">

					<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
						<div class="">
							<h4 class="lean-left">About GMT</h4>
							<ul>
								<li><a href="/about/us/" class="primary-nav-link">Our Story</a></li>
								<li><a href="/blog" class="primary-nav-link current">Blog</a></li>
								<li><a href="/jobs/" class="primary-nav-link">Jobs</a></li>
								<li class="privacy-and-terms"><a href="/about/privacy" class="primary-nav-link">Privacy &amp; Terms</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
						<div>
							<h4>Help &amp; Contact</h4>
							<a href="/help/" class="help-link help">Help Center</a>
							<a href="/support/" class="help-link support">Email Support</a>
							<p>Mon-Fri, 7AM-9PM PST</p>
						</div>
					</div>

					<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
						<h4>Social</h4>
						<ul class="social">
							<li>
								<a href="https://www.facebook.com/Gmt" class="facebook" target="_blank">Facebook</a>
							</li>
							<li>
								<a href="https://twitter.com/Gmt" class="twitter" target="_blank">Twitter</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</div>
	{{!-- //- jQuery 1.11.1 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If you are not targeting IE8, //- you can upgrade to 2.1.3 (also bundled) for better performance. --}}
	<script src="/js/jquery/jquery-1.11.2.min.js"></script>
	<script src="/js/jquery/jquery.autocomplete.js"></script>
	<script>
		$(document).ready(function() {
			$('#procedure').autocomplete({
				serviceUrl: '/autocomplete/Procedure',
				onSelect: function(suggestion) {
					$('#procedureId').val(suggestion.data);
				}
			});
			$('#doctor').autocomplete({
				serviceUrl: '/autocomplete/Doctor',
				onSelect: function(suggestion) {
					$('#doctorId').val(suggestion.data);
				}
			});
			$('#global').autocomplete({
				serviceUrl: '/autocomplete/global',
				onSelect: function(suggestion) {
					$('#globalId').val(suggestion.data);
				}
			});
		});
	</script>
	{{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here, instead of bootstrap-3.3.4.min.js --}}
	<script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>
	{{{isAdminEditorJS user}}}
</body>

</html>
